<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<!-- lined-icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<link rel="stylesheet" href="/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="/js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link href="/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!----webfonts--->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!---//webfonts--->
 <!-- Meters graphs -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="#"> ليبرتي للسياحة </a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="#"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            
            <li class="menu-list">
                <a href="#">
                    <span>عمرة</span> <i class="fas fa-location-arrow"></i>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="/umrah/ListOfOmra">عرض</a> </li>
                    <li><a href="/umrah/addUmrah">اضافة</a></li>
                </ul>
            </li>

            <li class="menu-list">
                <a href="#"> <span>حج</span> <i class="fas fa-location-arrow"></i> </a>
                <ul class="sub-menu-list">
                    <li><a href="/hajj/ListOfHajj">عرض</a> </li>
                    <li><a href="/hajj/addHajj">اضافة</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="#"> <span> سياحة داخليه</span> <i class="fas fa-campground"></i></a>
                <ul class="sub-menu-list">
                    <li><a href="/InternalTourism//ListOfInternalTourism">عرض</a> </li>
                    <li><a href="/InternalTourism/addInternalTourism">اضافة</a></li>
                </ul>
            </li>


            <li class="menu-list">
                <a href="#"><span>سياحة خارجية</span> <i class="fas fa-hiking"></i> </a>
                <ul class="sub-menu-list">
                    <li><a href="/ExternalTourism/ListOfExternalTourism">عرض</a> </li>
                    <li><a href="/ExternalTourism/addExternalTourism">اضافة</a></li>
                </ul>
            </li>
        </ul>


                <!--sidebar nav end-->
			</div>
		</div>
    <!-- left side end-->

    <!-- main content start-->
		<div class="main-content">
			<!-- header-starts -->
			<div class="header-section">

			<!--toggle button start-->
			<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

			<!--notification menu start -->
			<div class="menu-right">
				<div class="user-panel-top">


					<div class="profile_details">
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">
										<span style="background:url(images/1.jpg) no-repeat center"> </span>
										 <div class="user-name">
											<p>Michael<span>Administrator</span></p>
										 </div>
										 <i class="lnr lnr-chevron-down"></i>
										 <i class="lnr lnr-chevron-up"></i>
										<div class="clearfix"></div>
									</div>
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
									<li> <a href="#"><i class="fa fa-user"></i>Profile</a> </li>
									<li> <a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
								</ul>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				<!--	<div class="social_icons">
						<div class="col-md-4 social_icons-left">
							<a href="#" class="yui"><i class="fa fa-facebook i1"></i><span>300<sup>+</sup> Likes</span></a>
						</div>
						<div class="col-md-4 social_icons-left pinterest">
							<a href="#"><i class="fa fa-google-plus i1"></i><span>500<sup>+</sup> Shares</span></a>
						</div>
						<div class="col-md-4 social_icons-left twi">
							<a href="#"><i class="fa fa-twitter i1"></i><span>500<sup>+</sup> Tweets</span></a>
						</div>
						<div class="clearfix"> </div>
					</div>-->
					<div class="clearfix"></div>
				</div>
			</div>
			<!--notification menu end -->
			</div>
	<!-- //header-ends -->

            		<div id="page-wrapper">
				<div class="graphs">
                    <div class="grid_3 grid_4">





                            <div class="modal-content">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>اسم الرحله </th>
                                            <th>التفاصيل</th>
                                            <th>السعر</th>
                                            <th>اسم الفندق</th>
                                            <th> الخصم</th>
                                            <th>المده</th>
                                            <th>حذف</th>
                                        </tr>
                                        <% data.forEach(function(trip){ %>
                                            <tr>
                                                <td><%= trip.name %></td>
                                                <td><%= trip.desc %></td>
                                                <td><%= trip.price %></td>
                                                <td><%= trip.hotelName %></td>
                                                <td><%= trip.discount %></td>
                                                <td><%= trip.period %></td>
                                                <td><a class="btn btn-danger" href="/ExternalTourism/delete/<%= trip._id %>">delete</a></td>
                                            </tr>



                                        <% }) %>


                                    </table>




                            </div>

          <!-- /.modal-content -->


                        </div>
                </div>
			</div>





		</div>
		<!--footer section start-->
			<footer>
			   <p>&copy 2018 @ All Rights Reserved | Design by <a href="http://orxtradev.com/" target="_blank"> Orxtra.</a></p>
			</footer>
        <!--footer section end-->
	</section>
  <script>
      (function($) {
          $(function() {
              $('.datepicker').datepicker({
                  //  maxDate:new Date(),
                  changeYear:true,
                  changeMonth:true,
                  format:'dd/mm/yyyy'
                  });

              var addFormGroup = function(event) {
                  event.preventDefault();

                  var $formGroup = $(this).closest('.form-group');
                  var $multipleFormGroup = $formGroup.closest('.multiple-form-group');
                  var $formGroupClone = $formGroup.clone();

                  $(this)
                      .toggleClass('btn-default btn-add btn-danger btn-remove')
                      .html('–');

                  $formGroupClone.find('input').val('');
                  $formGroupClone.insertAfter($formGroup);

                  var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                  if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
                      $lastFormGroupLast.find('.btn-add').attr('disabled', true);
                  }
              };

              var removeFormGroup = function(event) {
                  event.preventDefault();

                  var $formGroup = $(this).closest('.form-group');
                  var $multipleFormGroup = $formGroup.closest('.multiple-form-group');

                  var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                  if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {
                      $lastFormGroupLast.find('.btn-add').attr('disabled', false);
                  }

                  $formGroup.remove();
              };

              var countFormGroup = function($form) {
                  return $form.find('.form-group').length;
              };

              $(document).on('click', '.btn-add', addFormGroup);
              $(document).on('click', '.btn-remove', removeFormGroup);

          });
      })(jQuery);
  </script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


  <script src="/js/jquery.nicescroll.js"></script>
  <script src="/js/scripts.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
